header
{background-image: url("../css/header.jpg.jpg");
background-size: cover;
height: 368px;
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
font-family: 'Courier New', Courier, monospace ;}

nav
{background-color: khaki;
border:1px solid khaki;
width: 100%;
}

#navIcon 
{display: none;}

li
{border: 0px}

ul
{list-style-type: none;
display: flex;
justify-content: space-around;
font-size: 25px;
border: 0px solid black;
margin: 0px;}

a
{text-decoration: none;
color: black;}

#conteneur
{background-color:khaki;
text-align: center;
display: flex;
justify-content: center;
width: 50%;
margin-left: auto;
margin-right: auto;
border: 20px solid white;
box-shadow: 3px 3px 3px 3px burlywood;}

img
{width: 75%;}

p{text-align: justify;}


#agencement
{display: flex;
margin: 15px 10px;
text-align: center;
}
article{
border: 0px;
padding: 10px;


}

@media screen and (max-width:900px){
#agencement 
{flex-direction: column;}

@media screen and (max-width: 680px)
{
    a, form
    {display : none ;}

        

 #navIcon
 {display: block;}


}









